<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.psu.cto5068.like_birbs">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".credits"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_credits"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"/>

        <service
            android:name=".SoundService"
            android:enabled="true" />

        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".FullscreenActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Game_over"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_game_over"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Leaderbirb"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_leaderbirb"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Settings"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".FullscreenActivity"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Game"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_game"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Start_2_customize_birb"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_start_2_customize_birb"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Start_1_selection"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_start_1_selection"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>